[submodule "2024-11-twentyone"]
	path = 2024-11-twentyone
	url = git@github.com:cheplev/Cyfrin-TwentyOne.git
[submodule "puppy-raffle"]
	path = puppy-raffle
	url = git@github.com:cheplev/cyfrin-puppy-raffle.git
